:root {
  --fs-xl: 6rem;
  --fs-600: 3rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

@font-face {
  font-family: Dongle-Bold;
  src: url("./Dongle/Dongle-Bold.ttf");
}
@font-face {
  font-family: Dongle-Regular;
  src: url("./Dongle/Dongle-Regular.ttf");
}
@font-face {
  font-family: Dongle-Light;
  src: url("./Dongle/Dongle-Light.ttf");
}

.body,
html {
  width: 100%;
  height: 100%;
  background-color: hsl(200, 6%, 10%);
}

.max-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin: 20vh auto;
  column-gap: 16px;
  padding: 0px 16px;
  height: 100%;
  max-width: 1200px;
}

.leftCol {
  grid-column: 1;
}

.rightCol {
  grid-column: 2;
}

.h1Container {
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
}

h1 {
  color: hsl(52, 100%, 75%);
  display: flex;
  align-items: center;
  font-size: var(--fs-600);
  text-shadow: 1px 1px #a5a3a3;
  font-family: "Dongle-Regular";
}

h1 strong {
  font-size: var(--fs-xl);
  color: hsl(46, 100%, 57%);
  text-shadow: 2px 2px #a5a3a3;
  font-family: "Dongle-Bold";
}

.k {
  margin-right: 0.08em;
}

.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button {
  border: unset;
  margin-left: 4px;
  font-family: "Dongle-Regular";
  font-size: var(--fs-500);
  border-radius: 2px;
  padding: 8px;
}

button:focus {
  background-color: hsl(79, 95%, 88%);
}

.boardContainer {
  height: 60vmin;
  width: 60vmin;
  background-color: rgb(231, 231, 228);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1px;
  border: 5px solid hsl(39, 95%, 83%);
  border-radius: 2px;
  transform: rotate(180deg) scaleX(-1);
}

.active:hover {
  cursor: pointer;
}

.cell {
  height: 100%;
  width: 100%;
}

.light {
  background-color: hsl(201, 6%, 46%);
}

.dark {
  background-color: hsl(200, 6%, 10%);
}

.knight {
  background-image: url("./knight.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transform: rotate(180deg) scaleX(-1);
}

.flag {
  background-image: url("./flag.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transform: rotate(180deg) scaleX(-1);
}

.path {
  background-color: red;
}
